# Types of operator

In [1]:
# An operator is a symbol that performs a certain opertion btw operands

# 1. Arithmetic operator

In [6]:
a =5 
b =2
# c=a+b # add(+)
# print(c)
print(a+b)# add
print(a-b)# sub
print(a*b)# multiple
print(a/b)# divide
print(a % b)# module operator(remainder find out)
print(a**b)# power(a^b)

7
3
10
2.5
1
25

# 2. Relational / Comparison operator

In [11]:
# it comapred two value are known as relational operator...

a =50
b=20
print(a==b)# it return boolean valyue(Ture/False)
print(a!=b) # it means not equal to b
print(a>=b)
print(a>b)
print(a<=b)
print(a<b)

False
True
True
True
False
False

# 3. Assignment operator

In [20]:
a= 10
# a=a+10 # it means 10+10
# a+=10
# a-=10
# a*=10
# a/=5
# a%=5
# a**=5

print("a:-",a)

a:- 10

# 4. Logical operator (it work boolean value

In [31]:
# a =50
# b=30
# print(a>b)
# print(not False)
# print(not True)

# and operator
# a=True
# b=True #False
# print(a and b)

# or operator
a = True
b=False
# print(a or b)
print((a==b) or(a>b))

True

# type Conversion

In [34]:
# it convert int into float like this :- 
#1.Coversion = automatical
#2.casting = manually type convert
 # 1.
# a=2
# b=4.25
# print(a+b)  # float> int


# 2. 
a ="2" # string
b= 4.23
print(a+b) # not run(because a give string value)

TypeError: can only concatenate str (not "float") to str

In [1]:
# 2. type casting
# int(value)
#float(value)
a = int("2")
b=4.25
print(type(a))
print(a+b)

<class 'int'>
6.25

In [3]:
a = 3.14
a= str(a)
print(type(a))

<class 'str'>

# input in python like user input

In [9]:
# input() statement is used to accept values(using keyboard) from user..
a=input("enter name:-")
print(a)

enter name:-nandu sharma
nandu sharma

In [13]:
# input divided into two parts 
# 1. int
# 2. float
a =int(input("enter something:"))
print(type(a),a)
a =float(input("enter something:"))
print(type(a),a)

enter something:23
<class 'int'> 23
enter something:23
<class 'float'> 23.0

 # program using input

In [15]:
name = input("enter your name:-")
age = int(input("enter your age:-"))
marks = float(input("enter your marks:-"))
print("welcome :",name)
print("age :" ,age)
print("marks:",marks)

enter your name:-bhawna sharma
enter your age:-12
enter your marks:-23
welcome : bhawna sharma
age : 12
marks: 23.0

# let's Practice

In [17]:
# write a program to input 2 number and print their sum
a = int(input("enter first number:-"))
b = int(input("enter second number:-"))
c=a+b
print("sum of two number:-",c)

enter first number:-3
enter second number:-4
sum of two number:- 7

In [23]:
# write a program to input side of a square and print its area
side = float(input("enter side : "))
print("area :", side*side)

enter side : 12
area : 144.0

In [25]:
# write a program input 2 floating point number and  print their average
a = float(input("enter first number :"))
b = float(input("enter second number :"))
c =(a+b)/2
print("average of number :",c)

enter first number :16.5
enter second number :3.5
average of number : 10.0

In [28]:
# write a program to input 2 int number , a and b
# print True if a is greater than or equal to b. if not  print false..
a = int(input("enter number :"))
b = int(input("enter numer :"))
print(a>=b)

enter number :3
enter numer :5
False